<header class="header">
    <div class="space-padding-15">
        <div class="container-of-elements-header">
            <div>
                <a href="/home"><img src="{{url_for('static', path='img/logo_encurtador_url.png')}}"></a>
            </div>
            <div>
                {% if user %}
                    <a href="/historic" class="btn btn-primary">Histórico</a>
                    <button class="btn btn-primary" id="logout">Logout</button>
                {% else %}
                    <a href="/login" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>