:root {
    --body-color: #E2EFDE;
    --write-color: #FFFFFF; 
    --footer-color: #1F271B;
    --message-error: #FF6347;
    --font-for-titles: "Montserrat", sans-serif;
    --font-for-normal-texts: "Open Sans", sans-serif;
    --gap: 15px;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

body {
    background-color: var(--body-color);
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 70vh;
}

.push-down {
    margin-bottom: 30px;
}

/* Header */

.header {
    padding: 15px 0;
    background-color: var(--write-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.space-padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container-of-elements-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-of-elements-header div img {
    width: 120px;
    height: 40px;
}

/* main content */

.container-shorten-url-home {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.container-content-texts-home  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-page-h1 {
    font-family: var(--font-for-titles);
}

.sub-title-home-h5 {
    font-family: var(--font-for-normal-texts);
    font-weight: 200;
    margin: 0;
}

.space-elements {
    gap: var(--gap);
}

.container-personalize-home {
    background-color: var(--write-color);
    box-shadow: 2px 1.5px 5px 1.5px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    width: 500px;
}

.form-url-shorten label {
    font-family: var(--font-for-normal-texts);
    font-weight: 500;
}

.form-url-shorten button {
    margin-top: 10px;
}

.title-url-shorten-h2 {
    font-family: var(--font-for-normal-texts);
    font-weight: 300;
    font-size: 20px;
}

.message-error {
    display: none;
    font-size: 13px;
    font-family: var(--font-for-normal-texts);
    color: var(--message-error);
    margin: 0;
}

/* footer */

.footer {
    background-color: var(--footer-color);
    position: relative;
    bottom: 0;
    margin-top: 24 !important;
    margin-bottom: 0 !important;
}

.nav-link {
    color: var(--write-color);
}

.text-footer {
    color: var(--write-color);
}

/* Login */

.form-login {
    width: 350px;
}

.btn-login {
    margin-top: 10px;
}

/* Historic */

.flex-options {
    display: flex;
    gap: 10px;
}

.icon-delete {
    cursor: pointer;
}

.limited-text {
    max-width: 250px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
