{% extends "global/base.html" %}

{% block main_block %}
<div class="to-move-away"></div>
<div class="main-content">
    <div class="container-shorten-url-home">
        <div class="container-content-texts-home">
            <h1 class="title-page-home-h1">Encurtador de URL</h1>
            <h5 class="sub-title-home-h5">Encurte urls de forma fácil e rápida</h5>
        </div>
        <div class="container-of-form-shorten-url-home container-personalize-home">
            <form class="form-url-shorten" id="formUrlShorten">
                <label for="urlOriginal">Url Original</label>
                <input type="url" class="form-control" id="urlOriginal" placeholder="URL" name="url">
                <button class="btn btn-primary">Encurtar URL</button>
            </form>
        </div>
        <div class="container-result-shorten-url-home container-personalize-home">
            <div class="form-url-shorten">
                <label for="urlOriginal">Url Encurtada</label>
                <input type="url" disabled class="form-control" id="resultUrlShorten" placeholder="Resultado">
                <button class="btn btn-primary" id="btnCopy">Copiar</button>
            </div>
        </div>
    </div>
</div>
{% endblock main_block %}